# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite cache
.vite/

# Build output
dist/
out/
build/

# Static files cache
.cache/

# Dependency directories
.pnp/
.pnp.js

# Testing
coverage/
*.lcov

# Vite environment files
.env.local
.env.*.local

# Ignore local env and secrets
.env
.env.* 

# VSCode files
.vscode/

# JetBrains IDEs (WebStorm, etc.)
.idea/

# macOS system files
.DS_Store

# Linux system files
*~

# Windows system files
Thumbs.db
